body, *{
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(86, 87, 88);
}
main{
	width: 80%;
}
.header{
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.titulo-conteudo {
    font-size: 40px;
	margin-top: 20px;
	margin-left: 50px;
}

.titulo h1{
	position: relative;
	margin-left: 40px;
	/* text-align: center; */
	/* margin: 10px auto; */
	box-sizing: border-box;
	       
}

nav ul{
	text-align: left;
	width: 100%;
	padding: 20px 0px 0px 0px;
	margin: auto;
}

nav li{
	/* text-transform: uppercase; */
	font-weight: lighter;
	font-size: 22px;
	box-sizing: border-box;
}

nav li a{
	color: #57575a;
	position: static;
	text-decoration: none;
	box-sizing: border-box;
}

nav ul a:hover{
	color: #216a86;
}


.titulo-principal{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

.produtos{
	display: flex;
	justify-content: flex-start;
	margin-top: 150px;

}

.card {
	/* float: right; */
	/* border: solid rgb(158, 153, 153) 1px; */
	/* box-shadow: 5px 2px 8px rgb(82, 75, 75); */
	border-radius: 5px;
	width: 25%;
	/* height: 200px; */
	padding: 2px;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(86, 87, 88);
	margin: 20px;
	overflow: hidden;
}

.card33{
	width: 33%;
}

.card20{
	width: 20%;
}

.card h2 {
	display: flex;
	justify-content: left;
	align-content: flex-start;
	margin: 15px auto;
	font-size: 1.2em;
}


.card ul li{
	font-size: 18px;
	list-style-type: disc;
	list-style-position: inside;
}

.descricao{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 5px;

}

.descricao h3{
	font-size: 24px;
	margin: 3px 0;
}

.descricao p{
	font-size: 20px;
}

.descricao span{
	font-style: italic;

}

.preco{
	display: flex;
	justify-content: center;
	align-items: baseline;
	font-weight: bold;
	color: #FE2E93;
	font-size: 25px;
	margin: 40px 90px;
	padding: 5px;
	border: solid 1px;
	border-radius: 10px;
	background:#FAF554;
	box-shadow: 5px 2px 8px rgb(204, 203, 203);
}

.footer{
	display: flex;
	border-top: #57575a solid 1px;
	justify-content: space-between;
	width: 100%;
	padding-top: 10px;
}
.logo{
	width: 200px;
}
.logo-img, .rede-social{
	width: 100%;
}
.logo-link {
	width: 30px;
}
.links {
	display: flex;
	justify-content: space-around;
	width: 100px;
}
.footer-block {
	display: flex;
	justify-content: space-between;
	width: 80%;
}
