.objetivos-titulo {
    font-size: 60px;
    margin-top: 20px;
}
.container-section {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: row;
    margin-top: 300px;/* ???????????????????????????????????????? */
}
.card-objetivos {
    border-radius: 5px;
	width: 25%;
	padding: 2px;
	margin: 0 auto;
}
.card-objetivos-titulo {
    font-size: 18px;
}