<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>card</title>
  </head>

  <body>
    <main id="app" ng-controller="AppController as ctrl">
      <card
        ng-repeat="card in ctrl.cards"
        title="{{card.title}}"
        list="card.list"
      >
    </card>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script>
      angular.module("CardModule", []).component("card", function component() {
          console.log(1);
        return {
          bindings: {
            title: "@",
            list: "=",
          },
          controllerAs: 'ctrl',
          template: 
            `<div class="card">
                <h3 class="card__title">{{ctrl.title}}</h3>
                <div class="card__list" ng-if="ctrl.list.length">
                    <p class="card__list-item" ng-repeat="item in ctrl.list">{{item}}</p>
                </div>
            </div>`,
        };
      }());

      angular
        .module("AppModule", ["CardModule"])
        .controller("AppController", function () {
          const ctrl = this;
          ctrl.cards = [
            { title: "teste1", list: ["1", "2"] },
            { title: "teste2", list: ["1", "2"] },
          ];
        });

      angular.bootstrap(document.getElementById("app"), ["AppModule"]);
    </script>
  </body>
</html>
