body{
	font-family: 'Josefin Sans', sans-serif;
}

.titulo{                       /*configura o estilo do título*/
	background: #fff;
    font-size: 50px;
    color: #57575a;
    margin: 15px 0px 0px 0px;
	font-weight: bold;
	box-sizing: border-box;
	border-bottom: solid 1.5px #57575a;
}

.titulo h1{                     /*configura o posicionamento e a fonte do título*/
	position: relative;
	margin-left: 40px;
	/* text-align: center; */
	/* margin: 10px auto; */
	box-sizing: border-box;
	       
}

nav ul{
	text-align: center;
	width: auto;
	padding: 0 auto;
	margin: 0 auto;
	box-sizing: border-box;
}


nav li{                         /*configura o estilo do menu de navegação*/
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 28px;
	padding: 0px 60px 0px 0px;
	display: inline;
	box-sizing: border-box;
}


nav li a{                      /*configura o posicionamento do menu de navegação*/
	color: #57575a;
	position: static;
	text-decoration: none;
	box-sizing: border-box;
}

nav ul a:hover{
	color: #216a86;
}


/*Final do cabeçalho padrão*/
/*-----------------------------------------------------------------------------------------------*/

main{                         /*configura o tamanho do label e input na tela*/
	width: 100%;
}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0px 0px 7px 0px;
}

.formulario, form legend{
	display: block;
	margin: 5px 0 10px;
	padding: 7px 25px;
	width: 90%;
}

form legend{
	display: inline-block;
	font-size: 20px;
	padding: 7px 0px;
}

/*--------------------ESTILO PARA PRODUTOS-------------------------*/

.titulo-principal{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

.produtos{
	display: flex;
	margin: 40px 10px;
	flex-wrap: wrap;
	justify-content: space-around;

}

.card{
	float: right;
	border: solid rgb(158, 153, 153) 1px;
	box-shadow: 5px 2px 8px rgb(82, 75, 75);
	border-radius: 5px;
	width: 400px;
	height: 200px;
	padding: 5px;
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(86, 87, 88);
	margin: 20px;
	overflow: hidden;
}

.card:hover{
	border: solid rgb(0, 0, 0) 1px;
	box-shadow: none;
}

.card img{
	width: 100%;
	border-radius: 5px;
}

.card h2{
	display: flex;
	justify-content: center;
	align-content: flex-start;
	margin: 15px auto;
	font-size: 1.2em;

}

.descricao{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 5px;

}

.descricao h3{
	font-size: 22px;
	margin: 3px 0;
}

.descricao p{
	height: 100px;
	font-size: 20px;
}

.descricao span{
	font-style: italic;

}

.preco{
	display: flex;
	justify-content: center;
	align-items: baseline;
	font-weight: bold;
	color: #FE2E93;
	font-size: 25px;
	margin: 40px 90px;
	padding: 5px;
	border: solid 1px;
	border-radius: 10px;
	background:#FAF554;
	box-shadow: 5px 2px 8px rgb(204, 203, 203);
}

/*--------------------RODAPÉ------------------------*/

.footer{
	display: block;
	background: #FAF554;
	padding: 15px 280px;
	border-top: solid 1.5px #57575a;
	
}
.infos-principais-rodape{
	display: inline-block;
	
}
.infos-principais-rodape ul{
	max-width: 500px;
}
.promo{
	float: left;
	margin: 5px 5px;
}
.infos-principais-rodape a{
	text-decoration: none;
	color: #FE2E93;
	font-size: 25px;
	padding: 2px 10px 0 0;
}
.infos-principais-rodape a:hover{
	color: #33C500;
}
.botao li{
	float: right;
	border-radius: 15px;
	padding: 5px 5px;
	margin: 5px 40px;
	max-width: 180px;
	box-shadow: #333 2px 2px 2px;
}
.destaque li{
	text-decoration: none;
	background-color: #33C500;
	color: #FE2E93;

}
.rede-social{
	display: inline-block;
	float: right;
	color: #FE2E93;
	font-size: 25px;
	text-align: center;

}
.rede-social a{
	text-decoration: none;
	font-size: 25px;
	max-width: 100px;
}
.rede-social li{
	margin: 10px 10px;
}
.rede-social img{
	width: 30px;
	padding: 0 10px;
}
.redes-sociais p{
	display: grid;
	float: right;
	text-transform: uppercase;
	padding: 2px 50px 2px 0;
	margin: 0 2px 0;
	color: #FE2E93;
	justify-content: flex-start;

}

.logo-rede-social{
	display: flex;
	flex-direction: row;
	margin: 0 20px 10px;

}

@media(max-width:1300px){
	.rede-social{
		display: none;
	}
}
